<footer class="footer">
  <div class="container">

    <font face="Roboto Condensed" size="3"> <center>
                 <div class="container">
                     <div class="row" style="margin-top: 7px;">

                       <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                            <p> &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &copy; Copyright <%= Time.now.year %></p>
                                 <a class="text-dark"</a>
                               </div>


                     </div>
                     <div class="bottom-footer">
                         <div class="col-md-12">
  <div>
    <!-- <div class="footer-copyright text-center py-3"> -->
  </div>
    </footer>
